<div class="row">
  <div class="alert alert-success text-center" role="alert">
    <strong>Search Pets</strong>
  </div>
</div>
<div class="row">
  <a name="search-by-id" id="search-by-id" class="btn btn-success" style="margin: 10px" href="searchPets/petById" role="button">By Id</a>
  <a name="search-by-cat" id="search-by-cat" class="btn btn-success" style="margin: 10px" href="searchPets/petsByCategory"
    role="button">By Category</a>
  <a name="search-by-tag" id="search-by-tag" class="btn btn-success" style="margin: 10px" href="searchPets/petsByTags" role="button">By Tags</a>
  <a name="search-by-sts" id="search-by-sts" class="btn btn-success" style="margin: 10px" href="searchPets/petsByStatus" role="button">By Status</a>
</div>
<div class="row">
  <router-outlet></router-outlet>
</div>
