<div class="container">
  <div *ngIf="petId==1">
    <img src="../../assets/images/Tom.png" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 1 : Tom">
  </div>
  <div *ngIf="petId==2">
    <img src="../../assets/images/Jerry.png" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 2 : Jerry">
  </div>
  <div *ngIf="petId==3">

    <img src="../../assets/images/Spike.png" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 3 : Spike">
  </div>
  <div *ngIf="petId==4">

    <img src="../../assets/images/Tyke.png" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 4 : Tyke">
  </div>
  <div *ngIf="petId==5">

    <img src="../../assets/images/bird.jpg" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 5 : bird">
  </div>
  <div *ngIf="petId==6">

    <img src="../../assets/images/cat-f.jpg" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 6 : cat-f">
  </div>
  <div *ngIf="petId==7">

    <img src="../../assets/images/cat-gf.jpg" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 7 : cat-gf">
  </div>
  <div *ngIf="petId==8">

    <img src="../../assets/images/mouse-gf.jpg" class="img-fluid|thumbnail rounded-top|rounded-right|rounded-bottom|rounded-left|rounded-circle|"
      alt="Pet ID 8 : mouse-gf">
  </div>
</div>
