<form class="form-inline">
  <div class="form-group">
    <label for="petId">Enter Pet Id</label>
    <input type="text" class="form-control" maxlength="2" style="width: 50px; margin: 1em;" id="petCategory" (keyup)="onKeyUp()" required [(ngModel)]="petId"
      name="petId">
    <button type="submit" style="margin: 1em;" class="btn btn-success" (click)="onSubmit()">Find Pet</button>
  </div>
</form>
<div *ngIf="submitted">
  <app-pet-display-form [id]="petId" [mode]="mode"></app-pet-display-form>
</div>
