<div class="container">
  <form class="form-inline">
    <div class="row">
      <div class="col-sm-2">
        <div class="form-group">
          <label for="petId" style="width: 90px; ">Enter Pet Id</label>
          <input type="text" class="form-control"  maxlength="2" style="width: 45px;" id="petCategory" required [(ngModel)]="petId" name="petId">
        </div>
      </div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-success" (click)="onSubmit()">Find Pet</button>
      </div>
    </div>
    <div class="row" style="padding-top: 40px;">
      <div *ngIf="selectedPet; else elseBlock">
        <div class="col-sm-4">
          <img [src]="selectedPet.photoUrls[0].url" class="rounded-circle" style="width: 266px; height: 235px;"
            alt="">
        </div>
        <div class="col-sm-8" style="padding-top: 40px">
          <p>
            <span class="badge" style="width: 60px; padding-right: 60px;">Name</span> {{selectedPet.name}}</p>
          <p>
            <span class="badge" style="width: 60px; padding-right: 60px;">Id</span> {{selectedPet.id}}</p>
          <p>
            <span class="badge" style="width: 60px; padding-right: 60px;">Category</span> {{selectedPet.category.name}}</p>
          <p>
            <span class="badge" style="width: 60px; padding-right: 60px;">Tags</span>
            <span *ngFor="let tag of selectedPet.tags"> {{tag.name}},</span> etc.</p>
        </div>
      </div>
      <ng-template #elseBlock>
        <div *ngIf="submitted">
          <div class="col-sm-4">
            <figure>
            <img src="assets/BrokenImage.jpg" class="rounded-circle" style="width: 266px; height: 235px;"
              alt="">
              <figcaption style="color: red; font-size: 150%;">No such pet exists !!!</figcaption>
            </figure>
          </div>
        </div>
      </ng-template>
    </div>
  </form>
</div>
